<h1>Formulario de Ingreso.</h1>
<div class="formContainer">
	<form action="/login" method="post">
		<input type="text" name="name" placeholder="Ingrese su nombre" />
		<button>Iniciar sesion</button>
	</form>
</div>